body{
    background:url(images/header_bg.png) repeat-x;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
ul,dl,dd,h2,p,form {
    padding: 0;
    margin: 0;
}
ul li{
    list-style-type: none;
}
#header{
   width: 900px;
   height: 50px;
   margin: 0 auto;
}
#header .logo{
    width: 100px;
    height: 50px;
    float: left;
}
#header .logo img{
    display: block;
}
#header .member{
    width:100px;
    height: 50px;
    line-height: 50px;
    float: right;
    cursor: pointer;
    background: url(images/down.jpg) no-repeat right center;
}
#header .login,#header .reg ,#header .info{
    width: 50px;
    height: 50px;
    line-height: 50px;
    float: right;
    cursor: pointer;
}

#header .info {
    width: auto;
    display: none;
}

#header ul{
    position: relative;
    top: 0px;
    left: 0px;
    background: #FBF7E1;
    width: 100px;
    height: 0px;
    border: 1px solid #999;
    border-top: none;
    padding: 10px 0 0 0;
    display: none;
    filter: alpha(opacity=0);
    opacity: 0;
    overflow: hidden;
}
#header ul li{
    height: 25px;
    line-height: 25px;
    text-indent: 20px;
    letter-spacing: 1px;
}

#header ul li a{
    display: block;
    text-decoration: none;
    color: #333;
    background: url(images/rg.png) no-repeat 5px 45%;
}
#header ul li a:hover{
    background: #fc0 url(images/rb.jpg) no-repeat 5px 45%;
}

#screen {
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    z-index: 9998;
    filter: alpha(opacity=0);
    opacity: 0;
    display: none;
}

#login {
    width: 350px;
    height: 250px;
    border: 1px solid #ccc;
    position: absolute;
    display: none;
    z-index: 9999;
    background: #fff;
}
#login h2{
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
    color: #666;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ccc;
    cursor: move;
}
#login div.info{
    padding: 15px 0 5px 0;
    text-align: center;
    color: maroon;
}
#login .close{
    float: right;
}

#reg {
    width: 600px;
    height: 550px;
    border: 1px solid #ccc;
    position: absolute;
    display: none;
    z-index: 9999;
    background: #fff;
    top:100px;
    left: 300px;

}
#reg h2{
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
    color: #666;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ccc;
    margin: 0 0 20px 0;
    cursor: move;
}

#reg .close{
    float: right;
}

#reg dl {
   font-size: 14px;
   color: #666;
   margin: 20px;
   padding-left: 10px;
   position: relative;
}

#reg dl dd {
   height: 30px;
   padding: 5px 0;
   text-align: left;
}

#reg dl dd input.text{
    width: 200px;
    height: 25px;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 14px;
    float: right;
    margin-right: 250px;
}

#reg dl dd span.info,#reg dl dd span.error,#reg dl dd span.succ {
    display: none;
    font-size: 12px;
    color: #333;
    width: 125px;
    height: 50px;
    padding: 0 0 0 25px;
    position: absolute;
}

#reg dl dd span.info {
    border-radius: 25px;
    background: greenyellow;
}

#reg dl dd span.error {
    border-radius: 10px;
    background: #fc0;
}

#reg dl dd span.succ {
    height: 20px;
    border-radius: 30px;
    background: #ccc;
    color: green;
}

#reg dl dd span.info_user {
    height: 43px;
    line-height: 18px;
    padding-top: 7px;
    top:3px;
    left:325px;
}

#reg dl dd span.error_user {
    width: 155px;
    height: 25px;
    top: 3px;
    padding-top:3px;
    left:325px;
}

#reg dl dd span.succ_user {
    width: 30px;
    padding-top: 2px;
    top:3px;
    left:325px;
}

#reg dl dd span.loading {
    position: absolute;
    width: 100px;
    padding-top: 2px;
    top:5px;
    left:325px;
    background: greenyellow;
    display: none;
}

#reg dl dd span.info_pass {
    height: 100px;
    width: 220px;
    line-height: 18px;
    padding-top: 7px;
    top:3px;
    left:325px;
    display: none;
}

#reg dl dd span.info_pass p {
    height: 25px;
    line-height: 25px;
    letter-spacing:0;
    padding-left: -10px;
    color: #666;
}

#reg dl dd span.info_pass p strong.s {
    color: #ccc;
}

#reg dl dd span.error_pass {
    width: 155px;
    height: 25px;
    top: 45px;
    padding-top:3px;
    left:325px;
}

#reg dl dd span.succ_pass {
    width: 30px;
    padding-top: 2px;
    top:45px;
    left:325px;
}

#reg dl dd span.info_notpass {
    height: 30px;
    width: 100px;
    line-height: 18px;
    padding-top: 7px;
    top:85px;
    left:325px;
   
}

#reg dl dd span.error_notpass {
    width: 155px;
    height: 25px;
    top: 85px;
    padding-top:3px;
    left:325px;
   
}

#reg dl dd span.succ_notpass {
    width: 30px;
    padding-top: 2px;
    top:85px;
    left:325px;
}

#reg dl dd span.info_ans {
    height: 30px;
    width: 100px;
    line-height: 18px;
    padding-top: 7px;
    top:165px;
    left:325px;
   
}

#reg dl dd span.error_ans {
    width: 155px;
    height: 25px;
    top: 165px;
    padding-top:3px;
    left:325px;
   
}

#reg dl dd span.succ_ans {
    width: 30px;
    padding-top: 2px;
    top:165px;
    left:325px;
}

#reg dl dd span.info_email {
    height: 30px;
    width: 100px;
    line-height: 18px;
    padding-top: 7px;
    top:205px;
    left:325px;
}

#reg dl dd span.error_email {
    width: 155px;
    height: 25px;
    top: 205px;
    padding-top:3px;
    left:325px;
}

#reg dl dd span.succ_email {
    width: 30px;
    padding-top: 2px;
    top:205px;
    left:325px; 
}

#reg dl dd span.error_ques {
    width: 155px;
    height: 25px;
    top: 125px;
    padding-top:3px;
    left:325px;
}

#reg dl dd span.error_birthday {
    width: 155px;
    height: 25px;
    top: 270px;
    padding-top:3px;
    left:325px;
}

#reg dl dd select {
    width: 202px;
    height: 25px;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 14px;
    float: right;
    margin-right: 250px;
}
#reg dl dd.birthday select {
    width: 100px;
    height: 25px;
    float: right;
    margin-right: 50px;
    margin-bottom: 20px;
}
#reg dl dd textarea {
    width: 360px;
    height: 100px;
    background: #fff;
    float: right;
    margin-right: 90px;
}

#reg dl dd.ps {
    padding:0 0 0 320px;
    display: none;
}
#reg dl dd.ps span.clear {
   color: #06f;
   cursor: pointer;
}

#reg dl dd.submit {
    cursor: pointer;
}

#reg dl dd ul.all_email {
    width: 180px;
    height: 130px;
    padding: 5px 10px;
    position: absolute;
    background: #fff;
    top: 233px;
    left: 107px;
    border: 1px solid #ccc;
    display: none;
}

#reg dl dd ul.all_email li {
    height: 25px;
    line-height: 25px;
    border-bottom: 1px solid #e5edf2;
    pad: 0px 5px;
    cursor: pointer;
}

#login .user{
    text-align: center;
}
#login .password{
    text-align: center;
    margin-top: 10px;
}
#login .text{
    width: 250px;
    height: 30px;
    line-height: 30px;
}

#login .button{
    text-align: center;
}
#login .submit{
    width: 100px;
    height: 30px;
    margin-top: 10px;
    text-align: center;
}

#login .other{
    margin-top: 10px;   
    text-align: center;
}

#main {
    width:1050px;
    border: solid 1px #000;
    margin: 50px auto; 
}

#sidebar {
    width: 250px;
    height: 500px;
    float: left;
}

#sidebar h2 {
    width: 250px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    border-radius: 25px;
    background: greenyellow;
    text-indent: 10px;
    margin: 0;
}

#sidebar ul {
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 25px;
    margin: 0 0 10px 0;
    overflow: hidden;
    opacity: 1;
    filter: alpha(opacity = 10)
}

#sidebar ul li {
    height: 25px;
    line-height: 25px;
    background: url(images/rb.jpg) no-repeat 12px 45%;
    text-indent: 30px;   
}

#sidebar ul li a {
    text-decoration: none;
    color: #333;
}

#index {
    width: 750px;
    height: 570px;
    background: #eee;
    float: right;
}

#banner {
    width: 100%;
    height: 150px;
    float: left;
    margin: 10px 0;
    position: relative;
    overflow: hidden;
    background: #333
}

#banner img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#banner ul {
    position: absolute;
    top: 125px;
    left: 520px;
    z-index: 4;
}

#banner ul li {
    float: left;
    padding: 0 5px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
}

#banner span {
    width: 1050px;
    Height:25px;
    position: absolute;
    top: 125px;
    left: 0;
    background:#333;
    opacity: 0.3;
    filter: alpha(opacity=30);
    z-index: 3;
}

#banner strong {
    position: absolute;
    top: 130px;
    left: 10px;
    color: #fff;
    z-index: 4;
}

#photo {
    width: 1050px;
    float: left;
}

#photo dl{
    width: 255px;
    height: 270px;
    float: left;
    margin: 5px 0 15px 0;
}

#photo dl dt{
    width:200px;
    height: 250px;
    background: #eee;
    margin: 0 auto;
}

#photo dl dt img {
    cursor: pointer;
}

#photo dl dd{
   height: 25px;
   line-height: 25px;
   text-align: center;
}

#photo_big {
    width: 620px;
    height: 550px;
    border: 1px solid #ccc;
    position: absolute;
    display: none;
    z-index: 9999;
    background: #fff;
    top:100px;
    left: 300px;
}
#photo_big h2{
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
    color: #666;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ccc;
    cursor: move;
}

#photo_big .close{
    float: right;
}
#photo_big .big {
    width: 620px;
    height: 500px;
    padding:20px 0 0 0;
    background: #333;
}
#photo_big .big img {
    display:block;
    margin:0 auto;
    width:600px;
    height:460px;
}
#photo_big .big strong {
    display:block;
    line-height: 100px;
    text-align: center;
    width:100px;
    height:100px;
    background: #000;
    opacity: 0;
    filter: alpha(opacity=0);
    font-size: 60px;
    color: #fff;
    cursor: pointer;
    position: absolute;
}
#photo_big .big strong.sl {
    top:240px;
    left: 20px;
}
#photo_big .big strong.sr {
    top:240px;
    right: 20px;
}
#photo_big .big span {
    display: block;
    width: 300px;
    height: 450px;
    background: #000;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    cursor: pointer;
}
#photo_big .big span.left {
    top:50px;
    left: 10px;
}
#photo_big .big span.right {
    top:50px;
    right: 10px;
}
#photo_big .big em {
    position: absolute;
    top: 480px;
    right: 20px;
    color: #fff;
    font-size: 14px;
    font-style:normal; 
}

#nav {
    width:465px;
    height: 52px;
    background: #999;
    border-radius: 25px;
    margin: 50px auto 0 auto;
    position: relative;
}

#nav ul {
    position: absolute;
}

#nav ul li {
    width: 85px;
    height: 52px;
    line-height: 52px;
    text-align: center;
    font-weight: bold;
    float: left;
}
#nav ul.white li {
    width: 85px;
    height: 52px;
    line-height: 52px;
    text-align: center;
    font-weight: bold;
}

#nav ul.black {
    left: 20px;
    color:#333;
    z-index: 1;
}

#nav ul.white {
    width: 425px;
    color:#fff;
    z-index: 3;
    left: 0px;
}

#nav ul.about {
    left: 20px;
    z-index: 4;
    cursor: pointer;
    background: #000;
    filter: alpha(opacity=0);
    opacity: 0;
}

#nav div.nav_bg {
    width: 85px;
    height: 52px;
    background: #333;
    border-radius: 25px;
    position: absolute;
    left: 20px;
    top: 0px;
    z-index: 2;
    overflow: hidden;
}

#share {
    width: 210px;
    height: 315px;
    border: 1px solid #ccc;
    border-radius: 10px;
    position: absolute;
    top: 0px;
    left: -211px;
    opacity: 0.5;
    filter: alpha(opacity = 50);
    z-index: 3;
}

#share h2 {
    height: 30px;
    line-height: 30px;
    background: #eee;
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #666;
    text-indent: 10px;
}

#share ul {
    height: 254px;
    padding: 3px 0 2px 5px;
    background: #ccc;    
}

#share ul li {
    width: 96px;
    height: 28px;
    float: left;
    padding: 2px;
}

#share ul li a {
    display: block;
    width: 95px;
    height: 26px;
    line-height: 26px;
    text-decoration: none;
    color: #666;
    text-indent: 30px;
}

#share ul li a:hover {
    opacity:0.7;
    filter: alpha(opacity = 70);
    background-color: #eee;
    color: #06f;
}

#share .share_footer {
    height: 26px;
    background: #eee;
    position: relative;
}

#share .share_footer a {
    position: absolute;
    top: 7px;
    left: 130px;
    padding: 0 0 0 13px;
    text-decoration: none;
    color: #666;
}

#share .share_footer a:hover {
    color:#06f;
    opacity:0.7;
    filter: alpha(opacity = 70);
}

#share .share_footer span {
    display: block;
    width: 24px;
    height: 88px;
    position: absolute;
    top: -230px;
    left: 210px;
    background: url(images/share.gif) no-repeat;
    cursor: pointer;
}

#loading {
    position: absolute;
    width: 150px;
    height: 40px;
    background:yellowgreen;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    z-index: 10000;
    display: none;
    text-indent: 40px;
}
#loading p{
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #666;
    font-weight: bold;
}


#success {
    position: absolute;
    width: 150px;
    height: 40px;
    background:yellowgreen;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    z-index: 10000;
    display: none;
    text-indent: 40px;
}
#loading p{
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #666;
    font-weight: bold;
}